@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    min-width: 400px;
    overflow: hidden;
    /*background: #45A29E;*/
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    padding: 0 5%;
    color: #fff;
    font-size: 18px;
}

header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-container img {
    height: 100%;
}

header nav {
    display: flex;
    align-items: center;
}

header nav .menu {
    display: flex;
    align-items: center;
}

header nav .menu li a {
    position: relative;
    color: #fff;
    font-size: 1.2 rem;
    font-weight: 600;
    margin-left: 40px;
    border-radius: 0.4rem;
    transition: color 0.4s ease;
}

header nav .menu li a:hover {
    color: #45A29E;
}

header nav #toggle {
    font-size: 1.3rem;
    margin-left: 80px;
    cursor: pointer;
}

.organizations {
    padding: 0 5%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

.organizations h1 {
    /*font*/
    margin-top: 50%;
    text-transform: uppercase;
    font-size: 3.25rem;
    font-weight: 600;
}

.organizations button {
    margin-top: 200px;
    background: #1F2833;
    padding: 0.4rem 7.5rem;
    outline: none;
    border: 2px solid transparent;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.organizations button:hover {
    background: transparent;
    border-color: #1F2833;
    color: #1F2833;
}

.organization .background-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -10;
    background-position: center;
    background-size: cover;
}
