@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container{
    width: 650px;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.material-upload{
    border: 1px solid black;
    padding: 0 35px;
}

.material-slider{
    max-width: 700px; /*width of the slider*/
    width: 100%;
    position: relative;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.material-slider i{
    height: 30px;
    width: 30px;
    background: blue;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgb(32, 22, 22);
}

.material-slider i:first-child{
    left: -10px;
}

.material-slider i:last-child{
    right: -10px;
}

.material-slider .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px); /*Number of cards display in the window*/
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

/*Hide the scroll bar*/
.carousel::-webkit-scrollbar{
    display: none;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 250px;
    width: 180px;
    list-style: none;
    border-radius: 8px;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    
    border: 1px solid black;
    width: 200px;
    cursor:  pointer;
}

/*Responsive slider*/
@media screen and (max-width: 900px) { /*when screen size is less than 900px*/
    .material-slider .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
       
    }

    .carousel .card{
        width: 280px;
    }
}

@media screen and (max-width: 600px) { /*when the screen size less than 600px*/
    .material-slider .carousel{
        grid-auto-columns: 100%;    
    }
    
    .carousel .card{
        width: auto;
    }
}