@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'; 
}

body{
    background-color: #ededed;
}

.container{
    width:90%;
    margin:0 auto; 
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.left-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    border: 1px solid black;
    align-items: center;
}

.right-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 1px solid black;
}

.profile_header{
    width: 95%;
    border: 1px solid green;
    position: relative; 
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    margin-bottom: 20px;
    border-radius: 10px;
}

.photos{
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px  10px 0 0 ;
    align-items: center;
}

.cover-photo{
    width: 100%;
    height: 250px;
    display: block;
    border-radius: 10px 10px 0 0;
}

.profile-photo{
    width: 180px;
    border-radius: 50%;
    margin-top: -90px;
    margin-left: 30px;
    box-shadow: 0 0 0 5px white;
    transition: box-shadow 0.5s;
}

.profile-info{
    border: 1px solid red;
    background-color: white;
    border-radius: 0 0 10px  10px  ;
    position: relative;
    padding: 20px;
    display: flex;
}

.profile-info .description{
    width: 70%;
}
.profile-header h1{
    margin-left: 30px; 
}

.profile-header p{
    margin-left: 30px;
}

.profile-photo:hover{
    box-shadow: 0 0 0 5px rgb(11, 1, 34);
}

.uni{
    margin-bottom: 20px;
}

.follow-btn{
    margin: 20px;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #2980b9;
    border: 2px solid #2980b9;
}

.msg-btn{
    margin: 20px;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: 2px solid #2980b9;
    color: #2980b9;
}

.report{margin: 20px;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #2980b9;
    border: 2px solid #2980b9;}

.current-work{
    border: 1px solid black;
}
.current-work .work-list{
    border: 1px solid blue;
}

.current-work .work-list .option{
    list-style: none;
    margin: 15px 0 15px 0;
    border: 1px solid red;
}
.current-work .work-list .option .list-op{
    display: flex;    
}

.current-work .work-list .option img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.current-work .work-list .option a{
    text-decoration: none;
    color: black;
}

.about{
    border-radius: 10px;
    width: 95%;
    border: 1px solid black;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.see-more-btn{
    color: #2980b9;
}

.see-more-text{
    display: none;
}

.see-more-text--show{
    display: inline;
}

/* card slider css start */
.slide-container{
    width: 95%;
    background-color: #95a5a6;
    padding: 20px 0;
    margin: 20px;
    border-radius: 10px;
}
.card{
   border-radius: 10px;
   background-color: white;
   width: 220px;
   margin: 10px;
}

.card-title{
    padding: 0 0 0 10px;
}

.image-content{
    position: relative;
    row-gap: 5px;
}

.card-image{
    position: relative;
    width: 200px;
    height: 150px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 10px;
}


.card-content{
    margin-top: 20px;
    padding: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
}

.card-btn{
    width: 220px;
    background-color: #3498db;
    border-radius:0 0 10px 10px;
    text-align: center;
    transition: all 0.3s ease;
}

.card-btn a{
    text-decoration: none;
    color: white;
}

.card-btn:hover{
    background-color: #95a5a6;
}
/* card slider css end */

.portfolio a{
    padding: 10px 20px 20px 10px;
    background: linear-gradient(90deg, #0B0C10, #C5C6C7);;
}