@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.mainbox{
    display: flex;
    flex-direction: row;
}

.left-margin{
    width: 50px;
    display: flex;
    border: 1px solid black;
    
   
}

.container{
    width: 650px;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    justify-content: center;
}

.cover-photo{
    display: block;
    width: 600px;
}

.profile-photo{
    width: 180px;
    border-radius: 50%;
    margin-top: -90px;
    margin-left: 30px;
    box-shadow: 0 0 0 5px white;
    transition: box-shadow 0.5s;
}

.profile-photo:hover{
    box-shadow: 0 0 0 5px rgb(11, 1, 34);
}
 
.about{
    border: 1px solid black;
}

.material-upload{
    border: 1px solid black;
}
.card-wrapper{
    border: 1px solid black;
}
.card{
    border: 1px solid black;
    width: 200px;
}
