@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: #ececec;
}


.mainbox{
    display: flex;
    flex-direction: row;
}

.left-margin{
    width: 5vW;
    display: flex;
    border: 1px solid black;
    
   
}

.container{
    width: 60vw;
    border: 1px solid black;
    align-items: center;
    padding: 1vw;
    justify-content: center;
}

.cover-photo{
    display: block;
    width: 58vw;
    border-radius: 20px;
}

.profile-photo{
    width: 180px;
    border-radius: 50%;
    margin-top: -90px;
    margin-left: 30px;
    box-shadow: 0 0 0 5px white;
    transition: box-shadow 0.5s;
}

.profile-photo:hover{
    box-shadow: 0 0 0 5px rgb(11, 1, 34);
}

.follow-btn{
    margin-right: 20px;
    color: #ececec;
    background-color: #0f4c75;
}


 
.about{
    border: 1px solid black;
}

.material-upload{
    border: 1px solid black;
    padding: 0 35px;
}

.slider{
    max-width: 700px;
    width: 100%;
    position: relative;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.slider i{
    height: 30px;
    width: 30px;
    background: #1b262c;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgb(32, 22, 22);
}

.slider i:first-child{
    left: -10px;
}

.slider i:last-child{
    right: -10px;
}

.slider .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 250px;
    width: 180px;
    list-style: none;
    border-radius: 8px;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    
    border: 1px solid black;
    width: 200px;
    cursor:  pointer;
}

@media screen and (max-width: 900px) {
    .slider .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
       
    }

    .carousel .card{
        width: 280px;
    }
}

@media screen and (max-width: 600px) {
    .slider .carousel{
        grid-auto-columns: 100%;
        
    }

    .carousel .card{
        width: 100%;
    }
    
}

.options{
    border: 1px solid black;
    width: 25vw;
    height: 100vh;
}