@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: poppins;
}

.shortcut-bar{
    width: 100vw;
    height:100px;
    border:1px solid red;
    display: flex;
    flex-direction: raw;
}

    .title{
        width:20%;
        height: 100%;
        border: 1px solid red;
        font-size: 60px;
        font-weight: bold;
        display:flex;
        justify-content: center;
        
    }

    .shortcut-options{
        width:80%;
        height: 100%;
        border: 1px solid red;
        display: flex;
        flex-direction: raw;
        justify-content: flex-end;
        align-items: center;
    }

        .option{
            /* border: 1px solid red; */
            margin:50px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 5px;
            padding-right: 10px;
            color: rgb(0, 0, 0);
            background-color: rgb(190, 190, 190);
            font-weight: 500;
            border-radius: 100%;
            cursor: pointer;
        }

        .option:hover{
            box-shadow: 10px 9px 22px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 10px 9px 22px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 9px 22px 0px rgba(0,0,0,0.75);
            color: rgb(255, 255, 255);
            background-color: rgb(67, 67, 67);
        }

.header{
    display: flex;
    flex-direction: column;
    height: 800px;
    width:100vw;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
}
    .img-box{
        height: 70%;
        width:100%;
        border: 1px solid red;
    }
    .detail-box{
        height: 30%;
        width:90%;
        background-color: rgb(230, 230, 230);
        border: 1px solid red;
        border-radius: 10px;
        margin-top: -100px;
    }
        .fa-calendar-days{
            color:blue;
            font-size: 50px;
        }

    .image-style{
        width:100%;
        height:100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }

        


