@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;300;400;500;700;800&display=swap');

/* Poppins:
Thin 100
Light 300
Regular 400
Medium 500
Bold 700
ExtraBold 800
lora
overpass */

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.90)  ;
    --secondary:  hsla(177, 40%, 45%, 0.50) ;
    
}

body{
    min-height: 100vh;
    max-width: 100vw;
    background: #EDEDED;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: poppins;
}

.container{
    width:90%;
    margin:0 auto;
    /* border: 1px solid red; */
}

