@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.border-container{
    width:100%;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/* .header{
    padding-left: 5vw;
    padding-right: 5vw;
} */
nav{
    background: white;
    position: static;
    height: 10vh;
    width: 100%;

}

label.logo{
    font-family: poppins ;
    color: #00AEEF;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-family: poppins ;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 50px;
    text-transform: uppercase;
}

/* main navigation bar update code ==========================================*/
.main-nav {
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #1B262C;
}
.main-nav ul li a {
    color: white;
}
/* =============================================================================== */

a.active{
    background: #1b9bff;
    color: white;
    transition: .5s;
}
.nav-elements:hover{
    background: #D9D9D9;
    color: black;
    transition: .5s;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.header-bottom-bar{
    border: 1px solid #D9D9D9;
    width: 100%;
}
#check{
    display: none;
}


/* Search Bar------------------- */
.search{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.search input[type=text]{
    background-color: #D9D9D9;
    width:1300px;
    height:30px;
    border-radius:25px;
    border: none;
    text-align: center;
}

.search-input::placeholder {
    text-align: center;
}
     
.search-button{
    position: relative;
    z-index:99;
    border-radius: 100%;
    background-color: #D9D9D9;
    color: black;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
 
/* quick shortcut bar */
.quick-shortcut-bar {
    display: flex;
    flex-direction: row;
    width:100%;
    /* border: 1px solid red; */
    align-items: center;
}

.section-name{
    display: flex;
    width:20vw;
    /* border: 1px solid red; */
    align-items: center;
    font-size: 30px;
    font-family: poppins;
}

.shortcut-options ul{
    display: flex;
    width: 70vw;
    font-size: 18px;
    font-family: poppins;
    color: black;
    justify-content: flex-end;
    /* border:1px solid red; */
} 

.shortcut-options ul li{
    padding-left: 15px;
}

.shortcut-options ul li a:hover{
    border-radius: 50px;
    padding: 7px 12px;
    background: #D9D9D9;
    transition: .5s;
}

/* Outer-body-container */
.outer-body-container{
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
}
    
    .content-outer-box{
        display: flex;
        flex-direction: raw;
        width:100%;
        /* border:1px solid red; */
    }
        .left-section{
            display: flex;
            flex-direction: column;
            /* border:1px solid red; */
            width:20%; 
            height: 500px;
        }
            .action-box{
                display: flex;
                flex-direction: column;
                background-color:#ECECEC;
                border-radius: 10px;
                padding-top: 20px;
                margin-top: 20px;
                align-items: center;
            }
                .all-users{
                    display: flex;
                    border-radius: 10px;
                    height: 50px;
                    width: 250px;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    font-family: poppins;
                    background-color: #1b9bff;
                    color: white;
                    margin-bottom: 20px;
                }
                .create-user{
                    display: flex;
                    border-radius: 10px;
                    height: 50px;
                    width: 250px;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    font-family: poppins;
                    background-color: #1b9bff;
                    color: white;
                    margin-bottom: 20px;
                }
        .middle-section{
            display: flex;
            flex-direction: column;
            /* border:1px solid red; */
            width:60%;
            align-items: center; /* Vertically center items */
        }
            .add-user-section{
                display: flex;
                width:90%;
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 10px;
                background-color: #ECECEC;
                font-family: poppins;
                font-size: 15px;
                justify-content: center; /* Horizontally center items */
                align-items: center; /* Vertically center items */
                text-align: justify;
                padding: 20px;

            }

            .container {
                margin-bottom: 5px;
                border-radius: 15px;
                background-color: #D9D9D9;
                font-family: poppins;
                font-size: 15px;
                display: flex;
                flex-direction: column;
                padding: 16px;
                width: 100%;
              }
              
            
            input[type=text], input[type=password], input[type=email] {
                width: 400px;
                height: 20px;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
                border-radius: 20px;
              }
              
              .register-button {
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 20px;
              }
              
              .register-button:hover {
                opacity: 0.8;
              }
              
             
              span.psw {
                float: right;
                padding-top: 16px;
              }
              
              .error-message{
                color: red;
                font-style: italic;
                font-weight: 100;
                font-size: 12px;
              }
              /* Change styles for span and cancel button on extra small screens */
              @media screen and (max-width: 300px) {
                span.psw {
                   display: block;
                   float: none;
                }
                .cancelbtn {
                   width: 100%;
                }
              }
            
             /* ================================================================= */

            

            

                


 /* flash message ====================================================*/
 .alert-success {
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px; /* Add some padding for better visibility */
    text-align: center; /* Center the text */
    border-radius: 5px; /* Add rounded corners */
    margin-bottom: 10px; /* Create some space at the bottom */
}

.flash-message-section{
    display: block;
    width: 100%;
}
/* ================================================================ */

/* Home Page CSS */
/*Start Image Slider*/
.slider{
    width: 100vw;
    max-width: 100vw;
    height: 550px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}

.slider .no-transition{
    scroll-behavior: auto;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 2s;
    gap:20px;
    border-radius: 10px;
    overflow: hidden;
}

.list img{
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    
}

.dots{
    position: absolute;
    bottom: 10px;
    columns: #ececec;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ececec;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 2s;
}

.dots li.active{
    width: 30px;
}

/*End Image Slider*/  

/*Start Events Slider*/

.container-box{
    width: 100%;
    border: 1px solid black;
    align-items: center;
    padding: 10px;
    justify-content: center;
    font-family: 'Poppins';
}


.material-upload{
    border: 1px solid black;
    padding: 0 35px;
}

.txt{
    margin-left: 10vw;
    padding: 10px;
}


.material-slider{
    margin-left: 10vw;
    width: 80vw;
    position: relative;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.material-slider i{
    height: 30px;
    width: 30px;
    background: blue;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgb(32, 22, 22);
}

.material-slider i:first-child{
    left: -10px;
}

.material-slider i:last-child{
    right: -10px;
}


.material-slider .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px); /*Number of cards display in the window*/
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

/*Hide the scroll bar*/
.carousel::-webkit-scrollbar{
    display: none;
}

.carousel.dragging{
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card{
    cursor: grab;
    user-select: none;
}

.carousel .card{
    scroll-snap-align: start;
    height: 250px;
    width: 180px;
    list-style: none;
    border-radius: 8px;
    display: flex;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card{
    
    border: 1px solid black;
    width: 200px;
    cursor:  pointer;
}

/*Responsive slider*/
@media screen and (max-width: 900px) { /*when screen size is less than 900px*/
    .material-slider .carousel{
        grid-auto-columns: calc((100% / 2) - 9px);
       
    }

    .carousel .card{
        width: 280px;
    }
}

@media screen and (max-width: 600px) { /*when the screen size less than 600px*/
    .material-slider .carousel{
        grid-auto-columns: 100%;    
    }
    
    .carousel .card{
        width: auto;
    }
}

/*End Events Slider*/

/*Footer*/

.footer{
    background-color: #1B262C;
    width: 100%;
    height: 30vh;
    font-family: 'Poppins';
}

.footer-logo{
    display: flex;

}

.footer-logo img{
    width: 100px;
    height: 100px;
}

.footer-logo hr{
    margin-top: 50px;
    height: 2px;
    width: 47vw;
    color: #ECECEC;
}

.footer-box{
    display: flex;
}

.footer-box h1{
    margin-left: 3vw;
    color: #ECECEC;
}

.footer-box ul{
    margin-left: 65vw;
    text-decoration: none;
    color: #ececec;
}

.footer-box ul li{
    display: inline;
    margin-right: 3vw;
    
}

.footer-box ul li a i{
    color: #ececec;
    
}

#icon{
    width: 50px;
    height: 50px;
}

.footer-box2{
    align-items: center;
    justify-content: center;
    margin-bottom: 7vw;
}

.footer-box2 ul{
    margin-left: 40vw;
   
}

.footer-box2 ul li{
    display: inline;
    margin-right: 10vw;
}

.footer-box2 ul li a{
    color: #ECECEC;
}