
/* navbar  */
.nav-outer-container {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: white;
    width: auto;
    padding: 0 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav{
    background-color: white;
    border-radius: 10px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}

nav a{
    padding: 5px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 400;
    color: black;
    font-size: 15px;
}

.unihub-logo-text{
    font-family: overpass;
    color:#3498db;
    font-size: 50px;
    font-weight: bold;
    padding:10px 0;
}

nav a:hover{
    padding: 5px 15px;
    border-radius: 100px;
    color: black;
    background-color: #2880b9;
    color:white
}

nav li:first-child {
    margin-right: auto;
}

.unihub-logo-text:hover{
    padding: 0;
    color: #3498db;
    background-color: rgba(255, 0, 0, 0);
}

/* Verticle mobile navbar */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-right-radius: 10px;

}
/* Verticle mobile navbar */

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: auto;
}

.menu-button{
    display: none;
    color: white;
}

.profile-navigator{
    display: flex;
    flex-direction: raw;
    /* border: 1px solid red; */
}
    .profile-image{
        display: flex;
        width: 50px;
        height: 50px;
        /* border: 1px solid red; */
        border-radius: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    .profile-image img{
        width: 100%;
        height: auto;
    }
    .profile-name{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        padding-left: 5px;
    }
/* navigation bar css */

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 2%;
    width: 320px;
    /* border: 1px solid red; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: white;
    color: black;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid black;
}

.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link .right-arrow{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover .right-arrow{
    transform: translateX(5px);
}

.user-info{
    display: flex;
    flex-direction: row;
}


.sub-menu-profile-image{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.sub-menu-profile-image img{
    width: 100%;
    height: auto;
}

.right-arrow{
    margin-left: auto;
}


.sub-menu-profile-name{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.sub-menu-link-icon{
    margin-right: 10px;
}




@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}