@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;300;400;500;700;800&display=swap');

/* Poppins:
Thin 100
Light 300
Regular 400
Medium 500
Bold 700
ExtraBold 800 */
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.80)  ;
    --secondary:  hsla(210, 29%, 24%, 0.65) ;
}

.container{
    width:100%;
    margin:0 auto; 
}

body{
    /* position: absolute; */
    min-height: 100vh;
    background: #EEEEEE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: poppins;
    background-image: linear-gradient(180deg, var(--primary), var(--secondary) ),url(../img/register/img6.jpg); 
    background-attachment: fixed;
    z-index: -1;
    justify-content: center;
    align-items: center;
}


.inner-container {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
}

.register-form {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 20px 0;
    /* background-image: url('../../img/events/event-add/event-add-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* border: 1px solid red; */
}

/* .content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    border: 1px solid red;
    width: 40%;
    line-height: 30px;
}

.content h1{
    font-family: 'Overpass';
    font-style: bold;
    font-weight: 1000px;
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    
}

.content .description{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 600px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 30px;
}

.content .reg-btn{
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.reg-btn:hover{
    color: black;
    background: linear-gradient(90deg,#2980b9, #FFF, #2980b9);
    transition: 0.5s;
    border: none;
} */

.register-form header {
    text-align: center;
    font-weight: 500;
    color: #2c3e50;
    font-size: 30px;
}

.register-form .form {
    margin-top: 30px;
    /* border: 1px solid red; */
}

.form .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

.input-box label {
    color: #2c3e50;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: auto;
    outline: none;
    font-size: 16px;
    color: #7f8c8d;
    margin-top: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    padding-left: 10px;
    /* border: 1px solid red; */

}



#selection {
    padding-left: 10px;
}

#eventDescription {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    font-family: poppins;
    font-size: 16px;
    color: #7f8c8d;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    resize: vertical;
    outline: none;
}

.select-box {
    border: none;
    padding-left: 0;
    /* border: 1px solid red; */
}
.category {
    width: 45%;
    height: 150px;
}

.register-form .column {
    display: flex;
    column-gap: 15px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #7f8c8d;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #bdc3c7;
}

.submit-btn {
    height: 55px;
    width: 100%;
    font-size: 16px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    background: #3498db;
    color: white;
    transition: all 0.2s ease;
}

.submit-btn:hover {
    background: #2980b9;
}

.register-link{
    padding: 10px;
}

.register-link p{
    text-align: center;
}

.register-link p a{
    text-decoration: none;
    color: #7f8c8d;
}
.register-link p a:hover{
    color: #3498db;
}

/* error message */
.error-message {
    color: red;
    /* font-style: italic; */
    font-weight: 400;
    font-size: 15px;
}

/* error message */


@media screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }
}

