/* dashboard css starts */
.dashboard-area{
    border: 1px solid red;
}

.dashboard-area .summary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 100%;
    flex-flow: wrap;
    margin: 15px 0;
    border: 1px solid red;
    overflow: hidden;
}

.dashboard-area .summary .box{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    width: calc(100% / 5 - 20px );
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-left: 6px solid #3498db;
}


.dashboard-area .summary .box .summary-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary-content h3{
    font-size: 18px;
    font-weight: 500;
    color: #95A5A6;
}

.summary-content span{
    font-size: 23px;
}

.dashboard-area .summary .box .icons{
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.dashboard-area .summary .box .icons i{
    font-size: 30px;
}

.dashboard-area .summary .box:hover{
    background-color: #3498db;
    color: white;  
    border-left: 6px solid white; 
}


.dashboard-area .summary .box:hover .summary-content h3{
    color: white;   
}

.dashboard-area .chart-row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.dashboard-area .chart-row .chart-section{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.activity{
    border: 1px solid red;
    padding: 10px;
}

.activity .user-table{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


/* dashboard css ends */

/* Dashboard Responsive */

@media (max-width: 1200px){
    .activity{
        overflow-x: scroll;
    }

    .dashboard-area .summary .box{
        width: calc(100% / 4 -15px);
        margin-top: 15px;
    }
}


@media (max-width: 900px){
    .dashboard-area .summary .box{
        width: calc(100% / 3 -15px);
        margin-top: 15px;
    }

    .dashboard-area .chart-row .chart-section{
        width: 100%;
    }
}

@media (max-width: 600px){
    .dashboard-area .summary .box{
        width: calc(100% / 2 -15px);
        margin-top: 15px;
    }

    .dashboard-area .chart-row .chart-section{
        width: 100%;
    }
} 

/* @media screen and (max-width: 900px) {
    .dashboard-area .summary .box {
        position: relative;
        width: calc(100% / 3 -15px);
    }
} */

