/* Events css starts */
.summary{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.summary .box{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3 - 40px);
    height: 50px;
    justify-content: space-evenly;
    align-items: center; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}


.summary .total{
    border-left: 10px solid #3498db;
    
}

.summary .active{
    border-left: 10px solid #e67e22;    
}

.summary .due{
    border-left: 10px solid #2c3e50;    
}

.summary .box h1{
    color: black;
    margin: 20px;
    /* font-family: Overpass; */
}

.summary .box .tot{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.summary .search{
    width: calc(100% / 2 - 10PX);
}

.summary .search .search-bar-container{
    width: 100%;
    margin:  10px 0;
}

.summary .btn{
    width: calc(100% / 4 - 10px);
}

.summary .view-all-button{
    text-align: center;
    margin:  20px 0;
    padding: 10px 30px ;
    background: linear-gradient(90deg, rgba(44, 62, 80, 1) 0%, rgba(52, 152, 219, 1) 50%, rgba(44, 62, 80, 1) 100%);
    color: white;
    border-radius: 5px;
    font-family: poppins;
    font-size: 15px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);

}
/* Events css ends */