/* Events css starts */
.summary{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.summary .box{
    display: flex;
    flex-direction: row;
    width: calc(100% / 3 - 40px);
    height: 50px;
    justify-content: space-evenly;
    align-items: center; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}


.summary .total{
    border-left: 10px solid #3498db;
    
}

.summary .ongoing{
    border-left: 10px solid #e67e22;    
}

.summary .due{
    border-left: 10px solid #2c3e50;    
}

.summary .box h1{
    color: black;
    margin: 20px;
    /* font-family: Overpass; */
}

.summary .box .tot{
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.summary .search{
    width: calc(100% / 1.5 - 10PX);
    /* border: 1px solid red; */
}

.summary .select-uni{
    width: calc(100% / 3 - 10px); 
    /* border: 1px solid red; */
}

.summary .search .search-bar-container{
    width: 100%;
    margin:  10px 0;
}

.summary .option{
    /* border: 1px solid red; */
}

/* university filter */
.uni-filter{
 width: 100%;
 align-items: center;
 margin:  20px 0;
}

.uni-reset-btn {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
    color: #3498db;
    cursor: pointer;
    padding-bottom: 7px;

}

.select-btn,
.uni-filter-options li {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.select-btn {
    height: 45px;
    font-size: 15px;
    padding: 0 20px;
    border-radius: 7px;
    background: white;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.select-btn i {
    font-size: 20px;
    transition: transform 0.3s linear;
}

.uni-filter-active .select-btn i {
    transform: rotate(-180deg);
}

.uni-filter-content {
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: white;
    display: none;
    margin-bottom: 10px;
}

.uni-filter-active .uni-filter-content {
    display: block;
    
}

.uni-filter-content .uni-filter-search {
    position: relative;
}

.uni-filter-search i {
    left: 15px;
    line-height: 53px;
    position: absolute;
    color: #bdc3c7;
}

.uni-filter-search input {
    height: 40px;
    width: auto;
    font-size: 17px;
    padding: 0 15px 0 43px;
    outline: none;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    position: static;
}

.uni-filter-content,
.uni-filter-options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
    width: 85%;
}

.uni-filter-options::-webkit-scrollbar {
    width: 7px;
}

.uni-filter-options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.uni-filter-options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.uni-filter-options li {
    height: 35px;
    border-radius: 5px;
    padding: 0 13px;
    font-size: 15px;
}

.uni-filter-options li:hover,
li.selected {
    background: #ecf0f1;
}

/* university filter */

.summary .table-heading{
    width: calc(100% / 2 - 10px);
    /* border: 1px solid red; */
}

.summary .filter{
    width: calc(100% / 4 - 10px);
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.dropdown-menu{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    font-size: 15px;
    border: none;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

/* Events css ends */


.approval-main-section{
    margin-bottom: 60px;
}