
/* Search bar */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.search-bar {
    width: 100%;
    max-width: 100%;
    /* background: rgba(127, 140, 141, 0.3); */
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 3px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #2980b9;
}

.search-bar input {
    background: transparent;
    flex: 1;
    /* flex:1 get the full width */
    border: 0;
    outline: none;
    font-size: 15px;
    color: rgb(130, 130, 130);
    text-align: center;

}

.search-bar input::placeholder {
    color: rgb(130, 130, 130);
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #2980b9;
    cursor: pointer;
}

.fa-magnifying-glass {
    color: white;
}
 
/* Search bar */

.filters{
    display: flex;
}

/* university filter */
.uni-reset-btn {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
    color: #3498db;
    cursor: pointer;
    padding-bottom: 7px;

}

.select-btn,
.uni-filter-options li {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.select-btn {
    height: 45px;
    font-size: 15px;
    padding: 0 20px;
    border-radius: 7px;
    background: white;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.select-btn i {
    font-size: 20px;
    transition: transform 0.3s linear;
}

.uni-filter-active .select-btn i {
    transform: rotate(-180deg);
}

.uni-filter-content {
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: white;
    display: none;
    margin-bottom: 10px;
}

.uni-filter-active .uni-filter-content {
    display: block;
}

.uni-filter-content .uni-filter-search {
    position: relative;
}

.uni-filter-search i {
    left: 15px;
    line-height: 53px;
    position: absolute;
    color: #bdc3c7;
}

.uni-filter-search input {
    height: 40px;
    width: auto;
    font-size: 17px;
    padding: 0 15px 0 43px;
    outline: none;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    position: static;
}

.uni-filter-content,
.uni-filter-options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
    width: 85%;
}

.uni-filter-options::-webkit-scrollbar {
    width: 7px;
}

.uni-filter-options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.uni-filter-options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.uni-filter-options li {
    height: 35px;
    border-radius: 5px;
    padding: 0 13px;
    font-size: 15px;
}

.uni-filter-options li:hover,
li.selected {
    background: #ecf0f1;
}

/* university filter */


.user-table{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: al 0.3s ease;
}

.user-table thead tr{
    height: 40px;
}

.user-table tbody tr {
    height: 40px;
}

.user-table tbody tr td{
    font-size: 15px;
    padding: 10px 10px 0 10px ;
}

.user-table tbody tr td i{
    font-size: 17px;
    padding: 10px;
    color: black;
}
