/* Poppins:
Thin 100
Light 300
Regular 400
Medium 500
Bold 700
ExtraBold 800
lora
overpass */

.header-block {
    width: auto;
    /* border: 1px solid black; */
    background-color: white;
    color: #2980b9;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-block-text {
    width: 60%;
    max-height: 100%;
    display: flex;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-block-text h2 {
    color: black;
    font-size: 60px;

}

.header-block-text h3 {
    /* margin-left: 30px; */
    color: black;
    font-size: 25px;
    font-weight: 400;

}

.header-block-image {
    width: 30%;
}

.header-block-image img {
    width: 100%;
    height: auto;

}

.header-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.start-reading-btn {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    border-radius: 30px;
    color: black;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.start-reading-btn:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }



.header-buttons a {
    text-decoration: none;
    color: inherit;
}

.add-post-btn {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    border-radius: 30px;
    background-color: white;
    color: #e67e22;
    border: 1px solid #e67e22;
    font-size: 20px;
    font-weight: 400;

}


.trending-post-section {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.trending-post-title {
    font-size: 20px;
    /* border: 1px solid red; */
}

.trending-post-title i {
    color: #27ae60;
}

.trending-posts {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid red; */
}

.trending-post-section a {
    text-decoration: none;
    color: inherit;
}

.trending-post {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    max-width: 400px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;

}

.author-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-details .author-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 1px solid red; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.author-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.author-details .author-name {
    font-size: 15px;
    font-weight: 400;
}

.trending-post .post-topic {
    display: flex;
    align-items: center;
    font-weight: 700;
}

.trending-post .post-date {
    font-size: 13px;
    color: #7f8c8d;
    align-items: center;
}

.trending-post-section hr {
    border: 0;
    height: 1px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #7f8c8d;
}

/* Search bar */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* border: 1px solid red; */
}

.search-bar {
    width: 30%;
    /* background: rgba(127, 140, 141, 0.3); */
    position: relative;
    right: 0;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #2980b9;
}

.search-bar input {
    background: transparent;
    flex: 1;
    /* flex:1 get the full width */
    border: 0;
    outline: none;
    font-size: 15px;
    color: rgb(130, 130, 130);
    text-align: left;

}

.search-bar input::placeholder {
    color: rgb(130, 130, 130);
}

.search-bar button {
    border: 0;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
}

.fa-magnifying-glass {
    color: black;
}

/* Search bar */
.content-outer-container{
    display: flex;
    flex-direction: row;
}

.left-main-section {
    width: 60%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-main-section{
    /* margin-left: 30px; */
    border: 1px solid red;
}

.post-card {
    width: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.post-card-left-section{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.publisher-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.publisher-details .publisher-image-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-right: 10px;
}

.publisher-details .publisher-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.publisher-details .publisher-name {
    margin-right: 10px;
}

.publisher-details .published-date {
    color: #7f8c8d;
    font-size: 14px;
}

.post-card .post-title {
    font-size: 25px;
    font-weight: 700;
    /* font-family: lora; */
}

.post-card .post-short-description {
    text-decoration: none;
    color: inherit;
    text-align: justify;
    font-family: lora;
}

.post-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 5px;
    background-color: rgba(52, 152, 219, 0.2);
    color: rgba(52, 152, 219, 1);
    margin-right: 5px;
    border-radius: 5px;
}

.post-card-rigth-section{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 1px solid red; */
}

.post-image-box {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Ensures the height adjusts proportionally to the width */
    overflow: hidden; /* Hides any overflowing content */
    /* border: 1px solid red; */
  }
  
  .post-image-box img {
    width: 100%; /* Makes the image fill the width of its container */
    height: auto; /* Ensures the height adjusts proportionally to the width */
    display: block; /* Ensures proper rendering and spacing */
  }

  .post-options{
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    /* border: 1px solid red; */
    align-items: center;
  }

  .post-options a{
    text-decoration: none;
    color: inherit;
  }

  .post-options i{
    font-size: 25px;
  }

  .like-option i{
    color: #e74c3c;
    cursor: pointer;
  }

  .comment-option{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    cursor: pointer;
  }

  .comment-text{
    margin-left: 5px;
  }

  .bookmark-option{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    cursor: pointer;
  }

  .explore-more-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .explore-more-section a{
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #2980b9; 
    border-radius: 30px;
    background-color: rgba(41, 127, 185, 0.2);
    color: #2980b9;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .explore-more-section a:hover {
    border: none;
    background-color: #e67e22;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .explore-more-section a i{
    margin-right: 10px;
  }