@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;300;400;500;700;800&display=swap');

/* Poppins:
Thin 100
Light 300
Regular 400
Medium 500
Bold 700
ExtraBold 800 */
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.80)  ;
    --secondary:  hsla(210, 29%, 24%, 0.65) ;
}

.container{
    width:100%;
    margin:0 auto; 
}

body{
    /* position: absolute; */
    min-height: 100vh;
    background: #EEEEEE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: poppins;
    background-image: linear-gradient(180deg, var(--primary), var(--secondary) ),url(../SignIn/img/img6.jpg); 
    background-attachment: fixed;
    z-index: -1;
    justify-content: center;
    align-items: center;
}

/* navigation bar css */
/* navbar  */
.nav-outer-container{
    display: flex;
    background-color: rgba(255, 0, 0, 0);
    /* border: 1px solid red; */
    /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1); */
}


nav{
    display: flex;
    /* border: 1px solid red; */
    background-color: rgba(255, 0, 0, 0);
    border-radius: 10px;
    width: auto;

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}

nav a{
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 400;
    color: white;
    font-size: 15px;
}

.unihub-logo-text{
    font-family: overpass;
    color:#3498db;
    font-size: 50px;
    font-weight: bold;
    padding:10px 0;
}

nav a:hover{
    padding: 5px 20px;
    border-radius: 100px;
    color: black;
    background-color: #2880b9;
    color:white
}

nav li:first-child {
    margin-right: auto;
}

.unihub-logo-text:hover{
    padding: 0;
    color: #3498db;
    background-color: rgba(255, 0, 0, 0);
}

/* Verticle mobile navbar */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-right-radius: 10px;

}
/* Verticle mobile navbar */

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: auto;
}

.menu-button{
    display: none;
    color: white;
}
/* navigation bar css */

.outer-box{
    display: flex;
    flex-direction: raw;
    width: 100%;
    padding: 20px;
    /* border: 2px solid blue; */
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    /* border: 1px solid red; */
    width: 40%;
    line-height: 30px;
}

.content h1{
    font-family: 'Overpass';
    font-style: bold;
    font-weight: 1000px;
    font-size: 60px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    
}

.content .description{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 25px;
    font-weight: 600px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 30px;
}

.content .reg-btn{
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 40px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.reg-btn:hover{
    color: black;
    background: linear-gradient(90deg,#2980b9, #FFF, #2980b9);
    transition: 0.5s;
    border: none;
}

.wrapper{
    display: flex;
    width: 60%;
    /* border: 1px solid red; */
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    justify-content: center;

}

.register{
    width: 80%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px 30px 10px 30px;
    border-radius: 40px;
    background: transparent;
    background-color: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.register h2{
    font-family: poppins;
    color: white; 
    text-align: center;
    font-size: 40px;
    font-weight: 400; 
    margin: 20px 0 10px 0;
}

.register .input-box{
    width: 90%;
    height: 65px;
    margin: 0 0 40px  0;
    border-bottom: 2px solid black;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 1em;
    padding: 0 5px 0 50px;
}

.input-box label{
    position: relative;
    left: 50px;    
    top: -80%;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    pointer-events: none;
    transition: 0.5s;
    
}

.input-box input:focus~label,
.input-box input:valid~label{
    font-size: 0.9em;
    top: -80px;
    left: 40px;
}

.input-box .fa-solid{
    position: relative;
    color: black;
    top: 40px;
    left: 20px;
    font-size: 1.2em;
    
}

.register .drop-down{
    width: 90%;
    margin: 0 0 40px  0;
    box-sizing: border-box;
    position: relative;
    border-bottom: 2px solid black;
    overflow: hidden;
}

.drop-down.active{
    border: none;
    margin: 0;
    
}

.drop-down .selected{
    position: relative;
    display: flex;
    /* height: 65px; */
    padding: 20px;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
    border: none;
    margin: 30px  0  0 0;
    /* justify-content: space-between; */
}

.selected .fa-graduation-cap{
    position: relative;
    color: black;
    font-size: 1.2em;
    margin:-10px 5px  0  0;
}

.selected .btn-text{
    position: relative;
    margin-left: 10px;
}

.selected .arrow-dwn{
    position: relative;
    font-size: 1.2em;
    transition: 0.3s;
    margin: -2px  0  0 auto;
}

.drop-down.active .selected .arrow-dwn{
    transform: rotate(180deg);
}

.drop-down .options{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: none;
}

.drop-down.active .options{
    display: block;
}

.options .option{
    display: flex;
    cursor: pointer;
    padding: 10px 10px 10px ;
    border-radius: 40px;
}

.option:hover{
    background-color: hsla(0, 2%, 36%, 0.5);
}
.options img{
    width: 30px;
    height: 25px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.option .option-text{
    font-size: 1em;
    color: black;
}


.register .terms{
    position: relative;
    color: black;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    
}

.terms label input{
    accent-color: #0B0C10;
    margin-right: 5px;
}

.register .btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, #0B0C10, #2980b9, #0B0C10);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    font-size: 1.3em;
    color: white;
    font-weight: 500;
    transition: 0.5s;
}

.btn:hover{
    background: linear-gradient(90deg,#0B0C10, #C5C6C7, #0B0C10);
    color: #0B0C10;
}
.register .register-link{
    font-size: 0.9em;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
        flex-direction: column;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
        flex-direction: column;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
        flex-direction: column;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
        flex-direction: column;
    }
}

