@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.user-table{
    border: 1px solid #1b262c;
    justify-content: center;
    background-color: white ;
}

.row{
    border: 1px solid #1b262c;
    
}


.heading{
    border: 1px solid #1b262c;
    font-weight: 400px;
    padding: 10px 20px;
    background-color: #0f4c75;
    color: #ececec;
    
}

.data{
    border: 1px solid black;
    padding: 20px;
    background-color: #ececec;
}

.data a{
    text-decoration: none;
    border: 2px solid #0f4c75;
    padding: 5px 10px;
    border-radius: 20px;
    
}

.update{
    margin-right: 20px;
    color: #ececec;
    background-color: #0f4c75;
}

.delete{
    color: #0f4c75;
}

.update:hover{
    color: #0f4c75;
    background-color: #ececec;
    border-color: #0f4c75;
    transition: 0.5s;
}

.delete:hover{
    color: #ececec;
    background-color: #0f4c75;
    transition: 0.5s;
}