@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.90)  ;
    --secondary:  hsla(177, 40%, 45%, 0.50) ;
    
}

.container{
    width:90%;
    margin:0 auto;
}

body{
    min-height: 100vh;
    background: #EEEEEE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: poppins;
}


/* Search bar */
.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* border: 1px solid red; */
}

    .search-bar{
        width: 100%;
        max-width: 100%;
        background: rgba(127, 140, 141, 0.3);
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 3px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

        .search-bar input{
            background: transparent;
            flex:1; 
            /* flex:1 get the full width */
            border: 0;
            outline: none;
            font-size: 15px;
            color: rgb(130, 130, 130);
            text-align: center;

        }

            .search-bar input::placeholder{
                color: rgb(130, 130, 130);
            }

        .search-bar button{
            border: 0;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: rgba(31, 40, 51, 0.5);
            cursor: pointer;
        }

        .fa-magnifying-glass{
            color: white;
        }
/* Search bar */

/* Quick-shortcut-bar */
.shortcut-bar{
    width: 100%;
    /* border: 1px solid red; */
    height:50px;
    display: flex;
    flex-direction: row;
}
    .section-name{
        width: 25%;
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: black;
        font-family: poppins;
        font-size: 30px;
        
    }
    .shortcut-options{
        width:75%;
        /* border:1px solid white; */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-weight: 500;
    }
        .option{
            color: black;
            margin-left: 30px;
            padding: 10px;
            /* border: 1px solid white; */
            border-radius: 50px;
        }
/* Quick-shortcut-bar */



@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}