/* Poppins:
Thin 100
Light 300
Regular 400
Medium 500
Bold 700
ExtraBold 800
lora
overpass */

.inner-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    /* border: 1px solid red; */

}

.title-text {
    width: 70%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;
    margin-left: 10px;
}

.bottom-part {
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.left-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.image-box {
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 100%;
    height: auto;
    display: block;
}



.form-outer-box {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 20px 0;
    /* background-image: url('../../img/events/event-add/event-add-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* border: 1px solid red; */
}

.form-outer-box header {
    text-align: center;
    font-weight: 500;
    color: #2c3e50;
    font-size: 30px;
}

.form-outer-box .form {
    margin-top: 30px;
    /* border: 1px solid red; */
}

.form .input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    /* border: 1px solid red; */
}

.input-box label {
    color: #2c3e50;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: auto;
    outline: none;
    font-size: 16px;
    color: #7f8c8d;
    margin-top: 8px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    padding-left: 10px;
    /* border: 1px solid red; */

}


.form-outer-box .column {
    display: flex;
    column-gap: 15px;
    /* border:1px solid red */
}


.submit-btn {
    height: 55px;
    width: 100%;
    font-size: 16px;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    background: #3498db;
    color: white;
    transition: all 0.2s ease;
}

.submit-btn:hover {
    background: #2980b9;
}

#custom-profile-img-btn {
    padding: 10px;
    color: white;
    background: #34495e;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 8px;
    width: 30%;
}

#custom-profile-img-btn:hover {
    background: #2c3e50;
}

#profile-img-txt {
    color: #7f8c8d;
}

#profileImageUpload {
    display: none;
}

#custom-cover-img-btn {
    padding: 10px;
    color: white;
    background: #34495e;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 8px;
    width: 30%;
}

#custom-cover-img-btn:hover {
    background: #2c3e50;
}

#cover-img-txt {
    color: #7f8c8d;
}

#coverImageUpload {
    display: none;
}

#custom-board-img-btn {
    padding: 10px;
    color: white;
    background: #34495e;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 8px;
    width: 30%;
}

#custom-board-img-btn:hover {
    background: #2c3e50;
}

#board-img-txt {
    color: #7f8c8d;
}

#boardImageUpload {
    display: none;
}

.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: white;
    margin: 20px 0;
}

.image-section img {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
}



.board-img-box {
    width: 50%;
    /* Set width for cover image */
    height: auto;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* profile image and cover image css */
.profile-img-box img,
.cover-img-box img {
    width: 50%;
    /* Make images responsive */
    max-width: 100%;
    height: auto;
    display: flex;

}

.board-img-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-img-box {
    width: 200px;
    /* Set width for profile image */
    height: auto;
    margin-bottom: 20px;
}

.cover-img-box {
    width: 75%;
    /* Set width for cover image */
    height: auto;
    margin-bottom: 20px;
}




/* error message */
.error-message {
    color: red;
    /* font-style: italic; */
    font-weight: 400;
    font-size: 15px;
}

/* error message */