/* Poppins:
Thin 100
Light 300
Regular 400
Medium 500
Bold 700
ExtraBold 800
lora
overpass */
/* Verticle mobile navbar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-right-radius: 10px;

}

/* Verticle mobile navbar */

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: auto;
}

.menu-button {
    display: none;
    color: white;
}

@media(max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

@media(max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media(max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

@media(max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

@media(max-width: 475px) {
    .container {
        max-width: 100%;
    }
}




/* slider */
.slider-container {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.slider {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
}

.slider .item {
    height: 300px;
    width: 200px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    transition: 0.5s;
}

.slider .item:nth-child(0),
.slider .item:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slider .item:nth-child(2) {
    left: 60%;
}

.slider .item:nth-child(3) {
    left: calc(60% + 220px);
}

.slider .item:nth-child(4) {
    left: calc(60% + 440px);
}

/*here n = 0, 1, 2, 3,...*/
.slider .item:nth-child(n + 6) {
    left: calc(60% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 500px;
    text-align: left;
    color: white;
    transform: translate(0, -50%);
    display: none;
}

.item .content .text {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 5px black;
    border: none;
    border-radius: 20px;
}

.slider .item:nth-child(1) .content {
    display: block;
}

.content .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .university {
    font-weight: 300;
    font-style: italic;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content .description {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content button {
    font-size: 15px;
    font-weight: lighter;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    margin-top: 20px;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.button {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;
    color: #fff;
}


/* new css======================================================================================================= */

/* Search bar */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    /* border: 1px solid red; */
}

.search-bar {
    width: 100%;
    /* background: rgba(127, 140, 141, 0.3); */
    position: relative;
    right: 0;
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.5px solid #2980b9;
}

.search-bar input {
    background: transparent;
    flex: 1;
    /* flex:1 get the full width */
    border: 0;
    outline: none;
    font-size: 15px;
    color: rgb(130, 130, 130);
    text-align: left;

}

.search-bar input::placeholder {
    color: rgb(130, 130, 130);
}

.search-bar button {
    border: 0;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
}

.fa-magnifying-glass {
    color: black;
}

/* Search bar */

/* Quick-shortcut-bar */
.shortcut-bar {
    width: 100%;
    /* border: 1px solid red; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.section-name {
    width: 25%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-family: poppins;
    font-size: 30px;

}

.shortcut-options {
    width: 75%;
    /* border:1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
}

.shortcut-options h3 {
    font-weight: 400;
    color: black;
}

.shortcut-options-outer-box {
    display: flex;
    border: 0.5px solid #34495e;
    padding-left: 10px;
    margin-left: 10px;
}

.option {
    /* background-color: #e67e22; */
    color: #2980b9;
    margin-left: 30px;
    padding: 10px;
    font-weight: 400;
    /* border: 1px solid black; */
    /* border-radius: 10px; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 0;
}

/*.option hr{
    height: 5px;
    background-color: #1C5981;
    border-style: none;
}*/

.option hr {
    position: absolute;
    bottom: -0px;
    /* Adjust this value as needed */
    left: 0;
    width: 0;
    height: 2px;
    /* Thickness of the line */
    background-color: #EDEDED;
    /* Color of the line */
    transition: width 0.5s ease;
    /* Transition effect */
    pointer-events: none;
    /* Prevents the line from blocking clicks */
    border-style: none;
}

.option:hover hr {
    width: 100%;
    /* Set width to 100% on hover */
    background-color: black;
}

/*.option:hover {
    color: white;
    background-color: #2980b9;
}*/

/* Quick-shortcut-bar */

/* main event showing section */
.outer-body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* border: 1px solid red; */

}

.filters-section {
    width: 25%;
    outline: none;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 100px;
    height: 100vh;
    /* Adjust height as needed */
    overflow-y: auto;

}

.add-event-button {
    text-align: center;
    padding: 10px;
    /* background: linear-gradient(90deg, rgba(44, 62, 80, 1) 0%, rgba(52, 152, 219, 1) 50%, rgba(44, 62, 80, 1) 100%); */
    background-color: #2980b9;
    color: white;
    border-radius: 5px;
    font-family: poppins;
    margin-bottom: 30px;
    font-size: 15px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);

}

.filters-section a {
    text-decoration: none;
}

.add-event-button:hover {
    background: #1C5981;
    color: white;
    transition: .5s;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
}


/* university filter */
.uni-reset-btn {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
    color: #3498db;
    cursor: pointer;
    padding-bottom: 7px;

}

.select-btn,
.uni-filter-options li {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.select-btn {
    height: 45px;
    font-size: 15px;
    padding: 0 20px;
    border-radius: 7px;
    background: white;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.select-btn i {
    font-size: 20px;
    transition: transform 0.3s linear;
}

.uni-filter-active .select-btn i {
    transform: rotate(-180deg);
}

.uni-filter-content {
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: white;
    display: none;
    margin-bottom: 10px;
}

.uni-filter-active .uni-filter-content {
    display: block;
}

.uni-filter-content .uni-filter-search {
    position: relative;
}

.uni-filter-search i {
    left: 15px;
    line-height: 53px;
    position: absolute;
    color: #bdc3c7;
}

.uni-filter-search input {
    height: 40px;
    width: auto;
    font-size: 17px;
    padding: 0 15px 0 43px;
    outline: none;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    position: static;
}

.uni-filter-content,
.uni-filter-options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
    width: 85%;
}

.uni-filter-options::-webkit-scrollbar {
    width: 7px;
}

.uni-filter-options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.uni-filter-options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.uni-filter-options li {
    height: 35px;
    border-radius: 5px;
    padding: 0 13px;
    font-size: 15px;
}

.uni-filter-options li:hover,
li.selected {
    background: #ecf0f1;
}

/* university filter */


/* date filter */
.date-filter {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    align-items: flex-start;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.date-reset-btn {
    display: flex;
    font-size: 13px;
    color: #3498db;
    cursor: pointer;
    padding-left: 10px;
    width: 80px;
}

.date-filter input[type="date"] {
    background-color: white;
    padding: 10px;
    font-family: poppins;
    color: black;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

.date-filter ::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

/* date filter */



/* category filter */
.category-select-btn {
    display: flex;
    height: 45px;
    align-items: center;
    padding: 0 20px;
    border-radius: 7px;
    background-color: white;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);

}

.category-reset-btn {
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: flex-end;
    color: #3498db;
    cursor: pointer;
    padding-bottom: 7px;
}

.category-select-btn .btn-txt {
    font-size: 15px;
    color: black;
    font-weight: 400;
}

.category-select-btn .fa-angle-down {
    transition: transform 0.3s linear;
    font-size: 20px;
}

.category-filter-active .fa-angle-down {
    transform: rotate(-180deg);
}

.list-items {
    margin-top: 15px;
    border-radius: 7px;
    padding: 20px;
    background-color: white;
    display: none;
}

.category-filter-active~.list-items {
    display: block;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 8px;
    border-radius: 7px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.checkbox .check-icon {
    color: white;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.category-checked .check-icon {
    transform: scale(1);
}

.category-checked .checkbox {
    background-color: #2980b9;
    border-color: #2980b9;
}

/* category filter */

.content-section {
    padding: 10px 20px;
    width: 75%;
    /* border: 1px solid red; */
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}


/* organization card */
.organization-card {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 150px;
    background-color: #2980b9;
    border-radius: 15px;

    box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 7px 17px 5px rgba(0, 0, 0, 0.29);
}

.organization-card-inner {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 150px;
    background-color: #2980b9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.organization-card-inner .left-section {
    display: flex;
    width: 80%;
    /* border: 1px solid red; */
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 150px;
}

.organization-card-inner .right-section {
    display: flex;
    width: 20%;
    /* border: 1px solid red; */
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #2980b9;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 20%;
    /* border: 1px solid red; */
    margin-left: 30px;
    overflow: hidden;
}

.logo-box img {
    width: auto;
    height: 100%;
    object-fit: cover;
    /* border: 1px solid red; */
}

.organization-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.organization-name {
    font-size: 25px;
    font-weight: 700;
}

.organization-university {
    font-size: 18px;
    font-weight: 500;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.followers-count {
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.view-profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    /* border: 1px solid red; */
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    margin-top: 10px;
    cursor: pointer;
}

.view-profile-btn i {
    margin-left: 5px;
}

/* organization card */