@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;200;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.90)  ;
    --secondary:  hsla(177, 40%, 45%, 0.50) ;
    
}

.container{
    width:90%;
    margin:0 auto;
    /* border: 1px solid red; */
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    background: #EDEDED;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: poppins;
}

/* navbar  */
.nav-outer-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000 ;
    background-color: white;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

nav{
    background-color: transparent;
    border-radius: 10px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}

nav a{
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 400;
    color: black;
    font-size: 15px;
}

.unihub-logo-text{
    font-family: overpass;
    color:#3498db;
    font-size: 50px;
    font-weight: bold;
    padding:10px 0;
}

nav a:hover{
    padding: 5px 20px;
    border-radius: 100px;
    color: black;
    background-color: #2880b9;
    color:white
}

nav li:first-child {
    margin-right: auto;
}

.unihub-logo-text:hover{
    padding: 0;
    color: #3498db;
    background-color: rgba(255, 0, 0, 0);
}

/* Verticle mobile navbar */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-right-radius: 10px;

}
/* Verticle mobile navbar */

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: auto;
}

.menu-button{
    display: none;
    color: white;
}

@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}
/* navbar  */

/* Search bar */
.search-bar-container{
    position: absolute;
    top: 75px;
    left: 0;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    z-index: 100;
    /* border: 1px solid red; */
}

    .search-bar{
        width: 100%;
        max-width: 100%;
        /* background: rgba(127, 140, 141, 0.3); */
        background: transparent;
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 3px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid #2980b9;
    }

        .search-bar input{
            background: transparent;
            flex:1; 
            /* flex:1 get the full width */
            border: 0;
            outline: none;
            font-size: 15px;
            color: rgb(130, 130, 130);
            text-align: center;

        }

            .search-bar input::placeholder{
                color: rgb(130, 130, 130);
            }

        .search-bar button{
            border: 0;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: #2980b9;
            cursor: pointer;
        }

        .fa-magnifying-glass{
            color: white;
        }
/* Search bar */

/* slider */
.slider-container{
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.slider{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
}

    .slider .item{
        height: 300px;
        width: 200px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        display: inline-block;
        transition: 0.5s;
    }

    .slider .item:nth-child(0),
    .slider .item:nth-child(1){
        top: 0;
        left: 0;
        transform: translate(0, 0);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .slider .item:nth-child(2){
        left: 60%;
    }

    .slider .item:nth-child(3){
        left: calc(60% + 220px);
    }

    .slider .item:nth-child(4){
        left: calc(60% + 440px);
    }

    /*here n = 0, 1, 2, 3,...*/
    .slider .item:nth-child(n + 6){
        left: calc(60% + 660px);
        opacity: 0;
    }

    .item .content{
        position: absolute;
        top: 50%; 
        left: 100px;
        width: 500px;
        text-align: left;
        color: white;
        transform: translate(0, -50%);
        display: none;
    }

    .item .content .text{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-shadow: var(--text-shadow);
        border: none;
        border-radius: 20px;
    }

    .slider .item:nth-child(1) .content{
        display: block;
    }

        .content .name{
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
            animation: animate 1s ease-in-out 1 forwards;
        }

        .content .university{
            font-weight: 300;
            font-style: italic;
            opacity: 0;
            animation: animate 1s ease-in-out 0.3s 1 forwards;
        }

        .content .description{
            font-weight: 300;
            margin-top: 10px;
            margin-bottom: 20px;
            opacity: 0;
            animation: animate 1s ease-in-out 0.6s 1 forwards;
        }

        .content button{
            font-size: 15px;
            font-weight: lighter;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            opacity: 0;
            margin-top: 20px;
            animation: animate 1s ease-in-out 0.9s 1 forwards;
        }

        @keyframes animate {
            from {
                opacity: 0;
                transform: translate(0, 100px);
                filter: blur(33px);
            }

            to{
                opacity: 1;
                transform: translate(0);
                filter: blur(0);
            }
        }

        .button{
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 20px;
        }

        .button button{
            width: 40px;
            height: 35px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            margin: 0 5px;
            border: 1px solid #000;
            transition: 0.3s;
        }

        .button button:hover{
            background: #ababab;
            color: #fff;
        }

/* Quick-shortcut-bar */
.shortcut-bar{
    width: 100%;
    border: 1px solid red;
    height:50px;
    display: flex;
    flex-direction: row;
}
    .section-name{
        width: 25%;
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: black;
        font-family: poppins;
        font-size: 30px;
        
    }
    .shortcut-options{
        width:75%;
        /* border:1px solid white; */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-weight: 500;
    }
        .option{
            color: #2980b9;
            margin-left: 30px;
            padding: 10px;
            /* border: 1px solid white; */
            border-radius: 50px;
            cursor: pointer;
        }
        .option:hover{
            color: black;
            background-color: #bdc3c7;
        }
/* Quick-shortcut-bar */

/* footer-section */
.footer-section{
    width: 100%;
    height: 400px;
    background-color: #03254C;
}
/* footer-section */
                
/* main event showing section */

@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}