@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.border-container{
    width:100%;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/* .header{
    padding-left: 5vw;
    padding-right: 5vw;
} */
nav{
    background-color: white;
    position: static;
    height: 10vh;
    width: 100%;

}


label.logo{
    font-family: poppins ;
    color: #00AEEF;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-family: poppins ;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 50px;
    text-transform: uppercase;
}

/* main navigation bar update code ==========================================*/
.main-nav {
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #1B262C;
}
.main-nav ul li a {
    color: white;
}
/* =============================================================================== */
a.active{
    background: #1b9bff;
    color: white;
    transition: .5s;
}
.nav-elements:hover{
    background: #D9D9D9;
    color: black;
    transition: .5s;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.header-bottom-bar{
    border: 1px solid #D9D9D9;
    width: 100%;
}
#check{
    display: none;
}


/* Search Bar------------------- */
.search{
    width: 100%;
    height: 50px;
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.search input[type=text]{
    background-color: #D9D9D9;
    width:100%;
    height:30px;
    border-radius:25px;
    border: none;
    text-align: center;
}

.search-input::placeholder {
    text-align: center;
}
     
.search-button{
    position: relative;
    z-index:99;
    border-radius: 100%;
    background-color: #D9D9D9;
    color: black;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
 
/* quick shortcut bar */
.quick-shortcut-bar {
    display: flex;
    flex-direction: row;
    width:100%;
    /* border: 1px solid red; */
    align-items: center;
}

.section-name{
    display: flex;
    width:20vw;
    /* border: 1px solid red; */
    align-items: center;
    font-size: 30px;
    font-family: poppins;
    font-weight: bolder;
}

.shortcut-options ul{
    display: flex;
    width: 70vw;
    font-size: 18px;
    font-family: poppins;
    color: black;
    justify-content: flex-end;
    /* border:1px solid red; */
} 

.shortcut-options ul li{
    padding-left: 15px;
}

.shortcut-options ul li a:hover{
    border-radius: 50px;
    padding: 7px 12px;
    background: #D9D9D9;
    transition: .5s;
}

/* Outer-body-container */
.outer-body-container{
    display: flex;
    flex-direction: raw;
}

.option-section{
    display: flex;
    flex-direction: column;
    width: 20vw;
    /* border: 1px solid red; */
}
    .request-event-button{
        padding:10px;
        background-color: #45a29e;
        color:white;
        border-radius: 20px;
        font-family: poppins;
        text-decoration: none;
    }

    .request-event-button:hover {
        background: #1b9bff;
        color: white;
        transition: .5s;
        -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
      }
 /* content-section */
.content-section{
    display: flex;
    flex-direction: raw;
    width: 70vw;
    /* border: 1px solid red; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding-left: 10px;
}

.linked-card{
    text-decoration: none !important;
}

.event-card{
    display:flex;
    flex-direction: column;
    width:20vw;
    height: 450px;
    background-color:#D9D9D9 ;
    border-radius: 20px;
    /* border: 1px solid black; */
    margin-bottom: 30px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.event-card.show {
    opacity: 1;
    transform: translateY(0);
}

/* Define the animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    .image-section{
        width:100%;
        height:80%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        /* border:1px solid red; */
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

        .image-section img{
            width: 100%;
            height: auto;
        }

    .details-section{
        height: 20%;
        display: flex;
        flex-direction: raw;
        /* border: 1px solid red; */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

        .event-date{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 30%;
            height: 100%;
            border-bottom-left-radius: 20px;
            /* border:1px solid black; */
        }

        .event-description{
            display:flex;
            justify-content: center;
            flex-direction: column;
            font-family: poppins;
            font-size: 15px;
            width: 70%;
            border-bottom-right-radius: 20px;
            /* border:1px solid black; */
            height:100%;
        }

            .event-title{
                font-weight: bold;
            }

            .event-location{
                line-height: 15px;
            }

            .event-category{

            }

/* button-css */
.button {
    background-color: #4CAF50;
    width:15vw;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: poppins;
    cursor: pointer;
  }
  .button:hover {
    background: #1b9bff;
    color: white;
    transition: .5s;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
  }


  /* checkbox-css */
  .date-filter{
    padding-left:10px;
    margin-top: 10px;
    background-color:#D9D9D9;
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 20vw;
  }
  .date-filter h1{
    font-family: poppins;
    font-size: 25px;
    font-weight: 500;
  }
  .checkbox-container {
    display: block;
    font-family: poppins;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }


  /* ================================================================= */


 /* flash message */
 .alert-success {
    background-color: #4CAF50; /* Green background color */
    color: #fff; /* White text color */
    padding: 10px; /* Add some padding for better visibility */
    text-align: center; /* Center the text */
    border-radius: 5px; /* Add rounded corners */
    margin-bottom: 10px; /* Create some space at the bottom */
}

.flash-message-section{
    display: block;
    width: 100%;
}
/* ================================================================ */


  

  
