/* cover image section */
.event-header{
    display: flex;
    width: 100%;
    flex-direction: column;
}
    .cover-image-section {
        width:100%;
        height:400px;
        /* border:1px solid red; */
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        position: relative;
    }
    
        .cover-image-section img {
            width: 100%;
            height: auto;
        }

        .cover-image-section:after{

            position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
            background: rgba(0, 0, 0, 0.7);
            mix-blend-mode: multiply;
        }

        .title-overlay {
            position: absolute;
            top: 80%;
            left: 200px;
            /* transform: translate(-50%, -50%); */
            text-align: center;
            color: white;
            z-index: 2; /* Ensure the title is on top */
            font-size: 20px;
        }

    .secondary-section{

        /* border: 1px solid red; */
        display: flex;
        flex-direction: raw;
        width: 100%;
        background-color: white;
    }

        .countdown-section{
            display: flex;
            flex-direction: column;
            width: 65%;
            /* border: 1px solid red; */
        }
            .countdown-header{
                display: flex;
                flex-direction: raw;
                height: 20%;
                /* border: 1px solid red; */
                align-items: flex-end;
            }
                .countdown-header-text{
                    margin-left: 200px;
                    font-size: 35px;
                    font-weight: 500;
                }
            .countdown{
                height: 80%;
                /* border: 1px solid red; */
                display: flex;
                flex-direction: raw;
                align-items: center;
            }
             .countdown-box{
                display: flex;
                width: 100px;
                height: 100px;
                border: 2px solid #e74c3c;
                border-radius: 10px;
                margin-right: 30px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
             }

             .countdown-box p{
                font-size: 35px;
                font-weight: 700;
                color: #e74c3c;
             }

             .countdown-box span{
                font-size: 20px;
                font-weight: 300;
             }

             .days{
                margin-left: 200px;
             }

             .main-action-button{
                display: flex;
                background-color: #3498db;
                color: white;
                font-weight: 500;
                font-family: poppins;
                padding: 10px 20px;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
             }

             .main-action-button .fa-angles-right{
                margin-left: 10px;
             }

             .main-action-button-link{
                text-decoration: none;
             }
        .event-profile-image-section{
            display: flex;
            width: 20%;
            /* border: 1px solid blue; */
            z-index: 4;
            align-items: center;
            justify-content: center;
            margin-top: -50px;
            /* border: 3px solid red;   */
            background-color: white;
            padding: 10px;
            /* border: 1px solid red; */
        }

                .event-profile-image{
                    max-height: 300px;
                    max-width: 300px;
                    overflow: hidden;
                    /* border: 1px solid red;          */
                }

                .event-profile-image img{
                    width: 100%;
                    height: auto;
                }

        .event-reaction-section{
            width: 15%;
            /* border: 1px solid red; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
             
        }

            .reaction-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                padding: 15px 0;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 400;
                
            }

            .interested-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                padding: 15px 0;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 400;
                border: 2px solid #2980b9;
                color: #2980b9;
                margin-bottom: 20px;
                text-decoration: none;
                box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
            }

            .going-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                padding: 15px 0;
                border-radius: 10px;
                font-size: 20px;
                font-weight: 400;
                border: 2px solid #27ae60;
                color: #27ae60;
                margin-bottom: 20px;
                text-decoration: none;
                box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
            }

            .going-btn{
                border: 2px solid #27ae60;
                color: #27ae60;
            }

            .new-class{
                color: white;
                background-color: #2980b9;
            }

   
/* cover image section */

/* bottom main section */
.bottom-main-section{
    display: flex;
    flex-direction: raw;
    width: 100%;
}

    /* left-section=============================== */
    .left-section{
        display: flex;
        flex-direction: column;
        width: 20%;
        /* border: 1px solid red; */
        padding: 20px;
    }
        .social-media{
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 20px;
            /* border: 1px solid red; */
            color: #2c3e50;
            margin-bottom: 20px;
        }
            .social-media-title{
                font-size: 22px;
                font-weight: 300;
                /* border: 1px solid red; */
            }

            .icons{
                display: flex;
                font-size: 40px;
                justify-content: flex-start;
                /* border: 1px solid red; */
                flex-wrap: wrap;
            }

            .icons a{
                text-decoration: none;
            }
                .social-icon{
                    display: flex;
                    width: 40px;
                    height: 40px;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5px;
                    color: #34495e;
                    /* border: 1px solid red; */
                }

        .event-settings-btn{
            display: flex;
            padding: 10px;
            width: auto;
            background-color: #e67e22;
            color: white;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 20px;
        }

            .event-settings-link{
                text-decoration: none;
            }

        .event-announcements-btn{
            display: flex;
            padding: 10px;
            width: auto;
            background-color: #e67e22;
            color: white;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    
            .event-announcements-link{
                text-decoration: none;
            }

        .rating-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 20px;
            /* border: 1px solid red; */
            font-size: 20px;
            border-radius: 10px;
            background-color: #3498db;
            color: white;
            cursor: pointer;
        }




    /* left-section=============================== */
    

    /* middle-section=============================== */
    .middle-section{
        display: flex;
        flex-direction: column;
        width: 50%;
        /* border: 1px solid red; */
        padding: 20px;
        height: auto;
    }
        .event-description{
            display: flex;
            flex-direction: column;
            width: auto;
            flex-direction: column;
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            /* border: 1px solid red; */
            

        }
            .description-title{
                display: flex;
                width: 100%;
                font-size: 25px;
                font-weight: 500;
                align-items: center;
                /* border: 1px solid red; */
                padding-bottom: 10px;
            }

            .description{
                display: flex;
                flex-direction: column;
                font-weight: 400;
                /* border: 1px solid red; */
                color: #2c3e50;
            }
            .read-more-btn{
                color: #3498db;
            }
            .read-more-text{
                display: none;
            }
            .read-more-text--show{
                display: inline;
            }

        .announcements-section{
            display: flex;
            flex-direction: column;
            width: auto;
            /* border: 1px solid red; */
            border-radius: 10px;
            background-color: #EDEDED;
        }
            .announcement-title{
                display: flex;
                width: auto;
                height: 30px;
                font-size: 25px;
                font-weight: 500;
                align-items: center;
                /* border: 1px solid red; */
                padding: 20px;
                border-radius: 10px;
                background-color: rgba(255, 0, 0, 0.177);
                margin-bottom: 10px;

            }

            .announcement{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                padding: 20px;
                font-size: 16px;
                border-radius: 10px;
                background-color: white;
            }
                .ann-date-section{
                    display: flex;
                    /* border: 1px solid red; */
                    justify-content: flex-start;
                    margin-bottom: 10px;
                    color: rgba(127, 140, 141,1.0);
                    
                }
                .ann-content-section{
                    text-align: justify;
                }
    /* middle-section=============================== */
    .right-section{
        display: flex;
        flex-direction: column;
        width: 30%;
        /* border: 1px solid red; */
        padding: 20px;
    }
        .placement{
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 20px;
            /* border: 1px solid red; */
            margin-bottom: 20px;
        }
        .placement-icons{
            color: #2980b9;
        }
            .date-time{
                margin-bottom: 10px;
            }
            .venue{
                margin-bottom: 10px;
            }
            .organization{

            }

        .event-map{
            display: flex;
            flex-direction: column;
            background-color: white;
            height: 300px;
            align-items: center;
            justify-content: center;
        }

        iframe{
            width: 100%;
            height: 100%;
        }
/* bottom main section */


/* popup-modal css */
.modal-box.active .show-modal{
    display: none;
}

.overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.modal-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 30px;
    width: fit-content;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0;
    z-index: 20;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.modal-box .fa-xmark{
    font-size: 70px;
    /* color: #e74c3c; */
}

.modal-box h2{
    margin-top: 10px;
    font-size: 25px;
    font-weight: 500;
    color: #34495e;
    /* border: 1px solid red; */
}

.modal-box h3{
    font-size: 16px;
    font-weight: 400;
    color: #34495e;
    text-align: center;
}

.close-btn{
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 6px;
    border-style: none;
    color: white;
    background-color: #2880b9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 10px;
}

.close-btn:hover{
    background-color: #1f628f;
}

/* popup-modal css */


/* rating-system css */
.rating-box{
    position: relative;
    width: 200px;
    background-color: #10334A;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid red; */
}

.rating-box .post{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-box .text{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-align: center;

}

/* .rating-box .edit{
    font-size: 16px;
    color: #666;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 5px;
    cursor: pointer;
    
} */

.rating-box .star-widget input{
    display: none;

}

.star-widget{
    /* border: 1px solid red; */
    
}


.star-widget label{
    font-size: 25px;
    color: white;
    padding: 5px;
    float:right;
    transition: all 0.2s ease;
    /* border: 1px solid red; */
}


input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
    color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}


input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

#rate-1:checked ~ form header:before{
    content: "I just hate it 😕";
}

#rate-2:checked ~ form header:before{
    content: "I don't like it 😐";
}

#rate-3:checked ~ form header:before{
    content: "It is awesome 🙂";
}

#rate-4:checked ~ form header:before{
    content: "I liked it 😊";
}

#rate-5:checked ~ form header:before{
    content: "I loved it 😍";
}

.rating-box form{
    display: none;
}

input:checked ~ form {
    display: block;
}

form header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}



form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}

form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: black;
    border: 1px solid #333;
    background: white;
    padding: 10px;
    font-size: 15px;
    resize: none;
}


form .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
    border: 1px solid white;
    outline: none;
    background: #1f628f;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;

}


/* rating-system css */
.ratings-section h3{
    font-size: 25px;
    font-weight: 400;
}
.ratings{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 10px 10px 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #2980b9;
}

.left-part{
    width: 100%;
    /* min-width: 200px; */
    max-width: 300px;
}

.left-part .rating-user{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}

.left-part .rating-user .image-block{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #10334A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating-user .name-text{
    font-size: 12px;
}

.rating-user .date-text{
    font-size: 12px;
    
}

.user-rating .stars-set .fa-star{
    font-size: 15px;
    color: #e67e22;
    /* border: 0.5px solid #10334A; */
}

.user-rating .stars-set .fa-star .filled{
    color: #f39c12;
}

.user-rating .user-comment{
    font-size: 15px;
}

.right-part{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.right-part i{
    font-size: 50px;
    color: #2980b9;
}




@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}