@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



.border-container{
    width:100%;
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.header{
    padding-left: 5vw;
    padding-right: 5vw;
}
nav{
    background: white;
    position: static;
    height: 10vh;
    width: 100%;

}

label.logo{
    font-family: poppins ;
    color: #00AEEF;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-family: poppins ;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 50px;
    text-transform: uppercase;
}
a.active{
    background: #1b9bff;
    color: white;
    transition: .5s;
}
.nav-elements:hover{
    background: #D9D9D9;
    color: black;
    transition: .5s;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.header-bottom-bar{
    border: 1px solid #D9D9D9;
    width: 100%;
}
#check{
    display: none;
}


/* Search Bar------------------- */
.search{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}

.search input[type=text]{
    background-color: #D9D9D9;
    width:1200px;
    height:30px;
    border-radius:25px;
    border: none;
    text-align: center;
}

.search-input::placeholder {
    text-align: center;
}
     
.search button{
    position: relative;
    z-index: 100;
    right:40px;
    border-radius: 100%;
    background-color: #D9D9D9;
    color: black;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
 
/* quick shortcut bar */
.quick-shortcut-bar {
    display: flex;
    flex-direction: row;
    width:100%;
    border: 1px solid red;
    align-items: center;
}

.section-name{
    display: flex;
    width:20vw;
    border: 1px solid red;
    align-items: center;
    font-size: 30px;
    font-family: poppins;
}

.shortcut-options ul{
    display: flex;
    width: 70vw;
    font-size: 18px;
    font-family: poppins;
    color: black;
    justify-content: flex-end;
    border:1px solid red;
} 

.shortcut-options ul li{
    padding-left: 15px;
}

.shortcut-options ul li a:hover{
    border-radius: 50px;
    padding: 7px 12px;
    background: #D9D9D9;
    transition: .5s;
}

/* Outer-body-container */
.outer-body-container{
    display: flex;
    flex-direction: raw;
}

.option-section{
    display: flex;
    flex-direction: column;
    width: 20vw;
    border: 1px solid red;
}

.content-section{
    display: flex;
    flex-direction: raw;
    width: 70vw;
    height: 30px;
    border: 1px solid red;
}

/* button-css */
.button {
    background-color: #4CAF50;
    width:15vw;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: poppins;
    cursor: pointer;
  }
  .button:hover {
    background: #1b9bff;
    color: white;
    transition: .5s;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
  }

