@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;200;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.90)  ;
    --secondary:  hsla(177, 40%, 45%, 0.50) ;
    
}

.container{
    width:90%;
    margin:0 auto;
    /* border: 1px solid red; */
}

body{
    min-height: 100vh;
    max-width: 100vw;
    background: #EDEDED;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: poppins;
}



.main_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: 1px solid red;
}

    .cover_image{
        width: 100%;
        height: 320px;
        border: 1px solid red;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        position: relative;
    }

        .cover_image image{
            min-width: 100%;
            height: auto;
        }

        .cover_image::after{
            position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
            background: rgba(0, 0, 0, 0.7);
            mix-blend-mode: multiply;
        }

        .title-overlay{
            position: absolute;
            top: 60%;
            left: 200px;
            text-align: center;
            color: white;
            z-index: 2;
            font-size: 20px;
        }


/* Search bar */
.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
    border: 1px solid red;
}



    .search-bar{
        width: 100%;
        max-width: 100%;
        /* height: 20px; */
        /* background: rgba(127, 140, 141, 0.3); */
        background: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 3px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        border: 2px solid #2980b9;
    }


        .search-bar input{
            background: transparent;
            flex:1; 
            /* flex:1 get the full width */
            border: 0;
            outline: none;
            font-size: 15px;
            color: rgb(130, 130, 130);
            text-align: center;

        }


            .search-bar input::placeholder{
                color: rgb(130, 130, 130);
            }


        .search-bar button{
            border: 0;
            border-radius: 50%;
            width: 25px;
            height: 35px;
            background: #2980b9;
            cursor: pointer;
        }


        .fa-magnifying-glass{
            color: white;
        }
/* Search bar */



/* Quick-shortcut-bar */
.shortcut-bar{
    width: 100%;
    /* border: 1px solid red; */
    height:50px;
    display: flex;
    flex-direction: row;
}
    .section-name{
        width: 25%;
        /* border: 1px solid white; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: black;
        font-family: poppins;
        font-size: 30px;
        
    }
    .shortcut-options{
        width:75%;
        /* border:1px solid white; */
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        font-weight: 500;
    }
        .option{
            color: #2980b9;
            margin-left: 30px;
            padding: 10px;
            /* border: 1px solid white; */
            border-radius: 50px;
            cursor: pointer;
        }
        .option:hover{
            color: black;
            background-color: #bdc3c7;
        }
/* Quick-shortcut-bar */



.details_section{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: 10px;
    /* height: 1000px; */
    /* border: 1px solid red; */
    /* margin-left: auto;
    margin-right: auto; */
}

    .left_section{
        display: flex;
        outline: none;
        flex-direction: column;
        width: 25%;
        /* border: 1px solid red; */


    }



        .add_post_button{
            text-align: center;
            padding:10px;
            background-color: #3498db;
            color:white;
            border-radius: 5px;
            font-family: poppins;
            margin-bottom: 30px;
            font-size: 15px;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        }

        .left-section a{
            text-decoration: none;
        }

        .add_post_button:hover {
            background: rgb(0, 0, 255);
            color: white;
            transition: .5s;
            -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
            box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
        }



        /* university filter */
        .uni-reset-btn{
            display: flex;
            font-size: 13px;
            align-items: center;
            justify-content: flex-end;
            color: #3498db;
            cursor: pointer;
            padding-bottom: 7px;
            
        }

        .select-btn, .uni-filter-options li{
            display: flex;
            cursor: pointer;
            align-items:center;
            text-decoration: none;
            color: black;
            font-weight: 400;
        }

        .select-btn{
            height:45px;
            font-size: 15px;
            padding: 0 20px;
            border-radius: 7px;
            background: white;
            justify-content: space-between;
            margin-bottom: 30px;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        }

        .select-btn i{
            font-size: 20px;
            transition: transform 0.3s linear;
        }

        .uni-filter-active .select-btn i{
            transform: rotate(-180deg);
        }

        .uni-filter-content{
            padding: 20px;
            margin-top: 15px;
            border-radius: 7px;
            background-color: white;
            display: none;
            margin-bottom: 10px;
        }

        .uni-filter-active .uni-filter-content{
            display: block;
        }

        .uni-filter-content .uni-filter-search{
            position: relative;
        }

        .uni-filter-search i{
            left: 15px;
            line-height: 53px;
            position: absolute;
            color: #bdc3c7;
        }

        .uni-filter-search input{
            height: 40px;
            width: auto;
            font-size: 17px;
            padding: 0 15px 0 43px;
            outline: none;
            border: 1px solid #bdc3c7;
            border-radius: 5px;
            position: static;
        }

        .uni-filter-content, .uni-filter-options{
            margin-top: 10px;
            max-height: 250px;
            overflow-y: auto;
            padding-right: 7px;
        }
        .uni-filter-options::-webkit-scrollbar{
            width: 7px;
        }
        .uni-filter-options::-webkit-scrollbar-track{
           background: #f1f1f1;
           border-radius: 25px;
        }
        .uni-filter-options::-webkit-scrollbar-thumb{
            background: #ccc;
            border-radius: 25px;
        }
        .uni-filter-options li{
            height: 35px;
            border-radius: 5px;
            padding: 0 13px;
            font-size: 15px;
        }

        .uni-filter-options li:hover, li.selected{
            background: #ecf0f1;
        }
        /* university filter */
       

        /* date filter */
        .date-filter{
            display: flex;
            max-width: 100%;
            margin-bottom: 30px;
            align-items: flex-start;
            justify-content:space-between ;
        }
        
        .date-reset-btn{
            display: flex;
            font-size: 13px;
            color: #3498db;
            cursor: pointer;
        }
        .date-filter input[type="date"]{
            background-color: white;
            padding: 10px;
            font-family: poppins;
            color: black;
            font-size: 15px;
            border: none;
            outline: none;
            border-radius: 5px;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
        }

        .date-filter ::-webkit-calendar-picker-indicator{
            padding: 5px;
            cursor: pointer;
            border-radius: 3px;
        }

        /* date filter */



        /* category filter */
        .category-select-btn{
            display: flex;
            height:45px;
            align-items: center;
            padding: 0 20px;
            border-radius: 7px;
            background-color: white;
            justify-content: space-between;
            cursor: pointer;
            margin-bottom: 30px;
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
            
        }

        .category-reset-btn{
            display: flex;
            font-size: 13px;
            align-items: center;
            justify-content: flex-end;
            color: #3498db;
            cursor: pointer;
            padding-bottom: 7px;
        }

        .category-select-btn .btn-txt{
            font-size: 15px;
            color: black;
            font-weight: 400;
        }

        .category-select-btn .fa-angle-down{
            transition: transform 0.3s linear;
            font-size: 20px;
        }

        .category-filter-active .fa-angle-down{
            transform: rotate(-180deg);
        }
        .list-items{
            margin-top:15px;
            border-radius: 7px;
            padding:20px;
            background-color: white;
            display: none;
        }

        .category-filter-active ~ .list-items{
            display: block;
        }
        .list-items .item{
            display: flex;
            align-items: center;
            list-style: none;
            height: 50px;
            cursor: pointer;
            transition: 0.3s;
            padding:8px;
            border-radius: 7px;
        }

        .list-items .item:hover{
            background-color: #e7edfe;
        }

        .item .checkbox{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 16px;
            width: 16px;
            border-radius: 4px;
            margin-right: 12px;
            border: 1.5px solid #c0c0c0;
            transition: all 0.3s ease-in-out;
        }

        .checkbox .check-icon{
            color: white;
            font-size: 11px;
            transform: scale(0);
            transition: all 0.3s ease-in-out;
        }

        .category-checked .check-icon{
            transform: scale(1);
        }

        .category-checked .checkbox{
            background-color: #2980b9;
            border-color: #2980b9;
        }
        /* category filter */


        .right_section{
            display: flex;
            flex-direction: column;
            width: 75%;
            border: 1px solid red;
        }

            .post{
                display: flex;
                flex-direction: row;
                /* width: 100%; */
                border: 2px solid black;
                height: 275px;
                margin-left: 50px;
                /* border-radius: 15px 0 0 15px ; */
                border-radius: 15px;
                /* padding: 10px; */
                box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);

            }

            .post:hover {
                background: rgb(228, 228, 233);
                color: white;
                transition: .5s;
                -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
                box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.75);
            }


                .post_section{
                    display: flex;
                    flex-direction: row;
                    width: 95%;
                    /* border: 1px solid blue; */
                    padding: 10px;
                }


                .post_image_section{
                    display: flex;
                    width: 30%;
                    border: 1px solid red;
                    border-radius: 15px;
                    background-color: white;
                    margin-right: 20px;
                    margin-left: 20px;
                }


                .post_details_section{
                    display: flex;
                    width: 65%;
                    flex-direction: column;
                    border: 1px solid red;
                    background-color: white;
                }

                
                    .post_main_section{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 40%;
                        border: 1px solid red;
                    }

                        .profile_section{
                            display: flex;
                            width: 25%;
                            border: 1px solid red;
                        }

                        .profile_details_section{
                            display: flex;
                            flex-direction: column;
                            width: 65%;
                            border: 1px solid red;
                        }

                            .profile_name{
                                display: flex;
                                width: 100%;
                                height: 50%;
                                border: 1px solid red;
                            }

                            .details{
                                display: flex;
                                width: 100%;
                                height: 50%;
                                border: 1px solid red;
                            }

                        .more_button_section{
                            display: flex;
                            width: 10%;
                            border: 1px solid red;
                        }

                    .post_caption_section{
                        display: flex;
                        height: 30%;
                        width: 100%;
                        border: 1px solid red;
                    }

                    .reaction_count_section{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 10%;
                        border: 1px solid red;
                    }

                        .like_count_section{
                            width: 50%;
                            display: flex;
                            border: 1px solid red;
                        }

                        .comment_count_section{
                            display: flex;
                            width: 50%;
                            border: 1px solid red;
                        }

                    .post_reaction_section{
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        height: 20%;
                        border: 1px solid red;
                    }

                /* .post_view_section{
                    display: flex;
                    background-color: white;
                }

                .view_post_button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 50px;
                    text-decoration: none;
                    background: rgb(44,62,80);
                    background: linear-gradient(90deg, rgb(113, 124, 136) 0%, rgb(27, 39, 46) 100%);
                } */

                

        /* .container2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        } */


        /* .post_card{
            display: flex;
            flex-direction: column;
            background: white;
            border: 1px solid red;
            width: 600px;
            height: 900px;
            margin-bottom: 50px;
            /* border-radius: 15px; */
            /* margin-left: 100px; */
        /* } */ 


            /* .post_details{
                display: flex;
                flex-direction: row;
                border: 1px solid red;
                /* height: 80px; */
                /* height: 8%; */
            /* } */


                .profile_picture{
                    display: flex;
                    background-color: #3498db;
                    width: 65px;
                    height: 65px;
                    margin-left: 20px;
                    margin-right: 20px;
                    margin-top: auto;
                    margin-bottom: auto;
                    border: 1px solid red;
                    border-radius: 50%;
                } */

                /* .profile{
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    border: 1px solid red;
                }


                    .profile_name{
                        display: flex;
                        height: 60%;
                        border: 1px solid red;
                        align-items: center;
                    }

                    .venue{
                        display: flex;
                        border: 1px solid red;
                    } */


                /* .select_more{
                    display: flex;
                    width: 10%;
                    border: 1px solid red;
                    align-items: center;
                    color: black;
                    font-size: 30px;
                }


                .cross_button{
                    display: flex;
                    border: 1px solid red;
                    width: 12%;
                    align-items: center;
                    color: black;
                    font-size: 30px;
                } */


            /* .post_caption{
                display: flex;
                border: 1px solid red;
                padding-left: 10px;
                /* height: 60px; */
                /* height: 6%;
            } */ 

            /* .post_image_section{
                display: flex;
                border: 1px solid red;
                height: 76%;
                overflow: hidden;
            }


                .post_image{
                    height: auto;
                    width: auto;
                    border: 1px solid red;
                }


                .post_image img{
                    width: 100%;
                    height: auto;
                } */


            /* .post_views{
                display: flex;
                flex-direction: row;
                border: 1px solid red;
                height: 4%;
            }


                .like_count{
                    display: flex;
                    border: 1px solid red;
                    width: 50%;

                } */

                /* .comment_count{
                    display: flex;
                    border: 1px solid red;
                    width: 50%;
                } */


            /* .post_reaction_section{
                display: flex;
                width: 100%;
                flex-direction: row;
                border: 1px solid red;
                /* height: auto; */
            /* } */ 


                /* .like_btn{
                    display: flex;
                    border: 1px solid red;
                    width: 30%;
                    align-items: center;

                    /* text-align: center; */
                    /* color: black;
                    font-family: poppins;
                    font-size: 20px;
                } */ 


                /* .comment_btn{
                    display: flex;
                    border: 1px solid red;
                    width: 40%;
                    align-items: center;
                    color: black;
                    font-family: poppins;
                    font-size: 20px;
                } */

                /* .share_btn{
                    display: flex;
                    border: 1px solid black;
                    width: 30%;
                    align-items: center;
                    color: black;
                    font-family: poppins;
                    font-size: 20px;
                } */




@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}