@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.slider{
    width: 1300px;
    max-width: 100vw;
    height: 500px;
    margin: auto;
    position: relative;
}

.slider .no-transition{
    scroll-behavior: auto;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 2s;
    gap:20px;
    border-radius: 10px;
}

.list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
    
}

.dots{
    position: absolute;
    bottom: 10px;
    columns: #ececec;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ececec;
    margin: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 2s;
}

.dots li.active{
    width: 30px;
}
