@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;200;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.90)  ;
    --secondary:  hsla(177, 40%, 45%, 0.50) ;
    
}

.container{
    width:90%;
    margin:0 auto;
    /* border: 1px solid red; */
}

body{
    min-height: 100vh;
    max-width: 100vw;
    background: #EDEDED;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: poppins;
}


.Main-box{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 100%;
    height: 1000px;
}

    .cover-image{
        width: 100%;
        height: 150px;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        position: relative;
        border: 1px solid red;
    }
        .cover-image image{
            min-width: 100%;
            height: auto;
        }
        .cover-image::after{
            position: absolute; content: ''; display: block; top: 0; left: 0; height: 100%; width: 100%;
            background: rgba(0, 0, 0, 0.7);
            mix-blend-mode: multiply;
        }

        .title-overlay{
            position: absolute;
            top: 60%;
            left: 200px;
            text-align: center;
            color: white;
            z-index: 2;
            font-size: 20px;
        }
/* Search bar */
.search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    border: 1px solid red;
}

    .search-bar{
        width: 100%;
        max-width: 100%;
        /* background: rgba(127, 140, 141, 0.3); */
        background: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 3px 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 2px solid #2980b9;
    }

        .search-bar input{
            background: transparent;
            flex:1; 
            /* flex:1 get the full width */
            border: 0;
            outline: none;
            font-size: 15px;
            color: rgb(130, 130, 130);
            text-align: center;

        }

            .search-bar input::placeholder{
                color: rgb(130, 130, 130);
            }

        .search-bar button{
            border: 0;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            background: #2980b9;
            cursor: pointer;
        }

        .fa-magnifying-glass{
            color: white;
        }
/* Search bar */

    .details-section{
        display: flex;
        flex-direction: row;
        height: 750px;
        border: 1px solid red;
    }

        .left-section{
            display: flex;
            flex-direction: column;
            width: 25%;
            border: 1px solid red;
        }
            .title{
                display: flex;
                width: 100%;
                height: 30px;
                border: 1px solid red;
            }
                .link{
                    text-decoration: none;
                }

                    .text{
                        display: flex;
                        height: 25px;
                        border: 1px solid red;
                        margin: 5px 50px ;
                        padding: 20px 30px;
                        background-color: #2980b9;
                        color: white;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    .plus-mark{
                        color: black;
                    }

        .middle-section{
            display: flex;
            flex-direction: column;
            width: 50%;
            border: 1px solid red;
            /* margin-top: 20px; */
            margin-left: 20px;
        }

            .card{
                display: flex;
                flex-direction: row;
                width: 90%;
                height: 200px;
                border: 1px solid red;
                margin-top: 10px;
                margin-left: 20px;
                margin-bottom: 30px;
                cursor: pointer;
            }

                .image_box{
                    display: flex;
                    width: 30%;
                    border: 1px solid red;
                    height: 150px;
                    max-width: 100%;
                    max-height: 100%;
                    overflow: hidden;
                    margin-top: 20px;
                    margin-left: 10px;
                    border-radius: 15px;
                    /* position: relative; */
                }
                    .image_box post_image{
                        min-width: 100%;
                        height: auto;
                    }

                .card_details{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-left: 20px;
                    border: 1px solid red;
                }
                    .card_header{
                        padding-top: 13px;
                        width: 100%;
                        height: 50px;
                        border: 1px solid red;
                    }

        .right-section{
            width: 25%;
            border: 1px solid red;
        }

        


@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}