@import url('https://fonts.googleapis.com/css2?family=Lora&family=Overpass:wght@500&family=Poppins:wght@100;200;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: hsla(228, 19%, 5%, 0.90)  ;
    --secondary:  hsla(177, 40%, 45%, 0.50) ;
    
}

.container{
    width:90%;
    margin:0 auto;
    /* border: 1px solid red; */
}

body{
    min-height: 100vh;
    max-width: 100vw;
    background: #EDEDED;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: poppins;
}

/* .front-face-wrapper{
    overflow: hidden;
}

.front-face-wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1); 
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    overflow: hidden;
}

.front-face-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -1;

  } */


/* navigation bar css */
/* navbar  */
.nav-outer-container{
    display: flex;
    background-color: white;
    /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1); */
}


nav{
    background-color: white;
    border-radius: 10px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li{
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}

nav a{
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: poppins;
    font-weight: 400;
    color: black;
    font-size: 15px;
}

.unihub-logo-text{
    font-family: overpass;
    color:#3498db;
    font-size: 50px;
    font-weight: bold;
    padding:10px 0;
}

nav a:hover{
    padding: 5px 20px;
    border-radius: 100px;
    color: black;
    background-color: #2880b9;
    color:white
}

nav li:first-child {
    margin-right: auto;
}

.unihub-logo-text:hover{
    padding: 0;
    color: #3498db;
    background-color: rgba(255, 0, 0, 0);
}

/* Verticle mobile navbar */
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-top-right-radius: 10px;

}
/* Verticle mobile navbar */

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: auto;
}

.menu-button{
    display: none;
    color: white;
}

.profile-navigator{
    display: flex;
    flex-direction: raw;
    /* border: 1px solid red; */
}
    .profile-image{
        display: flex;
        width: 50px;
        height: 50px;
        /* border: 1px solid red; */
        border-radius: 100%;
        overflow: hidden;
        align-items: center;
        justify-content: center;
    }

    .profile-image img{
        width: 100%;
        height: autos;
    }
    .profile-name{
        display: flex;
        flex-direction: column;
        /* border: 1px solid red; */
        padding-left: 5px;
    }
/* navigation bar css */

@media(max-width: 1536px){
    .container{
        max-width: 1280px;
    }
}

@media(max-width: 1280px){
    .container{
        max-width: 1024px;
    }
}

@media(max-width: 1024px){
    .container{
        max-width: 768px;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

@media(max-width: 768px){
    .container{
        max-width: 640px;
    }
}

@media(max-width: 640px){
    .container{
        max-width: 475px;
    }
}

@media(max-width: 475px){
    .container{
        max-width: 100%;
    }
}